@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    text-align: center;
}

body {
    display: flex;
    place-items: center;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 150px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}



